# name -> event -> job -> runner -> steps: checkout, set up python, install dependencies, run tests
# NEJRS
name: Build

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        uses: actions/setup-python@v6.0.2
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Test
        run: pytest
